@page "/"
@using TechTrendsAppv1.Modelos
@using TechTrendsAppv1.Sesion
@inject IUsuariosService usuarioService

<PageTitle>Home</PageTitle>

@if(Usuario != null)
{
    <h1>Bienvenido @Usuario.Nombre</h1>
}
else
{
    <h1>Bienvenidos </h1>
}

Welcome to your new app.

@code{
    public Usuarios? Usuario { get; set; } = null;

    protected async override Task OnInitializedAsync()
    {
        Usuario = await usuarioService.GetUsuarioLogueado();
        base.OnInitialized();
    }

}